# Compiler files
cache/
out/
.gas-snapshot
gasreport-fork.ansi
gasreport-local.ansi

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env

.vscode
soljson*
broadcast
node_modules

coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache_hardhat
artifacts

.DS_Store